/.vs/dl.devops/v16/*.suo
/.vs/dl.devops/v16/Server/sqlite3/*.lock
/.vs/dl.devops/v16/Server/sqlite3/*.ide
/.vs/dl.devops/v16/Server/sqlite3/*.ide-shm
/.vs/dl.devops/v16/Server/sqlite3/*.ide-wal
/dl.devops/obj/Debug/netcoreapp3.1/Razor/Pages/*.cs
/dl.devops/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/*.cs
/dl.devops/obj/Debug/netcoreapp3.1/*.cs
/dl.devops/obj/Debug/netcoreapp3.1/*.cache
/dl.devops/obj/Debug/netcoreapp3.1/*.dll
/dl.devops/obj/Debug/netcoreapp3.1/*.pdb
/dl.devops/obj/Debug/netcoreapp3.1/*.CopyComplete
/dl.devops/obj/Debug/netcoreapp3.1/*.txt
/dl.devops/obj/Debug/netcoreapp3.1/*.exe
/dl.devops/obj/Debug/netcoreapp3.1/staticwebassets/*.xml
/dl.devops/obj/*.cache
/dl.devops/obj/*.json
/dl.devops/obj/*.props
/dl.devops/obj/*.targets
/dl.devops/obj/Container/AdditionalProbingPaths.cache
/dl.devops/obj/Container/ContainerCreationResult.cache
/dl.devops/obj/Container/ContainerDevelopmentMode.cache
/dl.devops/obj/Container/ContainerId.cache
/dl.devops/obj/Container/ContainerName.cache
/dl.devops/obj/Container/ContainerOperatingSystemFlavor.cache
/dl.devops/obj/Container/ContainerRunContext.cache
/dl.devops/obj/Container/DebuggeeArguments.cache
/dl.devops/obj/Container/DebuggeeKillProcessCommand.cache
/dl.devops/obj/Container/DebuggeeProgram.cache
/dl.devops/obj/Container/DebuggeeWorkingDirectory.cache
/dl.devops/obj/Container/FastModeProjectMountDirectory.cache
/dl.devops/obj/Container/ImageBuildContext.cache
/dl.devops/obj/Container/ImageId.cache
/dl.devops/obj/Container/OperatingSystemName.cache
/dl.devops/obj/Container/RelativeOutputAssemblyPath.cache
/dl.devops/obj/Container/TargetFramework.cache
/dl.devops/obj/Container/VsDbgScript.cache
/dl.devops/bin/Debug/netcoreapp3.1/Properties/*.json
/dl.devops/bin/Debug/netcoreapp3.1/*.json
/dl.devops/bin/Debug/netcoreapp3.1/*.xml
/dl.devops/bin/Debug/netcoreapp3.1/*.dll
/dl.devops/bin/Debug/netcoreapp3.1/*.pdb
/dl.devops/bin/Debug/netcoreapp3.1/*.exe
